<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Accesso Negato</title>
</head>

<body>
    <!-- navbar lasciata vuota: sarà inclusa dal layout -->

    <div layout:fragment="content" class="min-vh-100 d-flex justify-content-center align-items-center">
        <div class="text-center p-4">
            <h1 class="text-danger mb-3">Accesso Negato</h1>
            <p class="mb-4">Non hai i permessi necessari per accedere a questa pagina.</p>
            <a href="/home" class="btn btn-outline-primary">Torna alla Home</a>
        </div>
    </div>
</body>
</html>
