<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Sad Security</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const button = document.getElementById("start-room");
            const areaRisposta = document.getElementById("areaRisposta");
            const utente = document.getElementById("user").textContent;
            
            button.addEventListener("click", function () {
                
                areaRisposta.textContent = 'Avvio in corso....' 
                // Esempio di richiesta GET semplice
                fetch('/start-room', { method: 'POST',
                    headers:{
                        'Content-Type' : 'application/json'
                    },
                    body: JSON.stringify({
                        'nomeClass': 'TestClass',
                        'nomeLab': 'TestRoom',
                        'utente': utente
                    })
                    
                 })
                    .then(response => response.text()) // Parsa la risposta come JSON
                    .then(data => {
                        areaRisposta.textContent = 'Dati ricevuti: ' +data;
                    })
                    .catch(error => {
                        console.error('Errore durante la richiesta:', error);
                        areaRisposta.textContent = 'Errore durante l\'invio della richiesta.';
                    });
            })
        })
    </script>
</head>

<body>
    <div layout:fragment="navbar">
        <p>Benvenuto, <span id="user" th:if="${username}" th:text="${username}"></span>!</p>
    </div>

    <div layout:fragment="content">
        <h1>Dashboard</h1>
        <button id="start-room">Premi qui, fammi godere</button>
        <div id="areaRisposta"></div> <!-- ✅ Questo è il div mancante -->
    </div>

    <div>
        <!-- CONTENUTO DELLA ROOM-->
    </div>
</body>

</html>