<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sad Security</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap" rel="stylesheet">
</head>


<section layout:fragment="content">
  <section class="hero">
    <img src="images/logosito.png" alt="Sad Key">
    <h1>Your security skills should (not) be SAD 😢</h1>
    <p>Scopri vulnerabilità in modo semplice e visivo</p>
    <a href="#" class="btn-primary">Scansiona ora</a>
    <a href="#" class="btn-secondary">Guarda come funziona</a>
  </section>

  <section class="features">
    <div class="feature">
      <h2>🔐 Analisi automatica</h2>
      <p>Scansiona sistemi e trova problemi in pochi click.</p>
    </div>
    <div class="feature">
      <h2>🎯 Segnalazioni chiare</h2>
      <p>Alert visuali che parlano la tua lingua.</p>
    </div>
    <div class="feature">
      <h2>📈 Report dettagliati</h2>
      <p>Grafici e dati per azioni rapide e mirate.</p>
    </div>
  </section>

</section>


</html>