<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sad Security</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap" rel="stylesheet">
</head>


<section layout:fragment="content">
  <section class="hero">
    <img src="images/logosito.png" alt="Sad Key">
    <h1>Your security skills should (not) be SAD 😢</h1>
    <p>Impara tutto ciò che c'è da sapere sulla cybersecurity</p>
    <a href="/login" class="btn-primary">Accedi subito!</a>
    <a href="/registrati" class="btn-primary">Registrati!</a>

  </section>

  <section class="features">
    <div class="feature">
      <h2>🔐 Comunicazioni sicure</h2>
      <p>Risolvi in sicurezza le room con un semplice comando SSH.</p>
    </div>
    <div class="feature">
      <h2>🎯 Classi con target specifici</h2>
      <p>Completa le varie room caricate dai nostri docenti in classi differenti.</p>
    </div>
    <div class="feature">
      <h2>📈 Sfida i tuoi colleghi</h2>
      <p>Trova le bandiere nel minor tempo possibile e scala le classifiche.</p>
    </div>
  </section>

</section>


</html>