<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sad Security</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
    <header>
        <div>
            <a href="/home"><img src="images/logosito.png" alt="Sad Security Logo"></a>
        </div>
        <nav layout:fragment="navbar">
            <a href="/registrati">Registrati</a>
            <a href="/login">Login</a>
        </nav>
    </header>

    <main layout:fragment="content">
        <!-- qua viene renderizzata la roba aggiuntiva -->
    </main>

    <footer>
        <p>&copy; 2025 Sad Security. Tutti i diritti riservati.</p>
    </footer>
</body>

</html>