<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutDashboard}">

<head>
    <title>Sad Security - Home</title>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    </head>

<body>

    <main layout:fragment="content" class="home-layout">
        <div class="sidebar">
            <h2>Operazioni Disponibili</h2>
            <ul>
                <li><a href="#" class="sidebar-item" data-option="CreaClasse">Crea Nuova Classe</a></li>
                <li><a href="#" class="sidebar-item" data-option="CreaLaboratorio">Crea laboratorio</a></li>
                <li><a href="#" class="sidebar-item" data-option="Aggiungi studente">Aggiungi studente</a></li>
                <li><a href="#" class="sidebar-item" data-option="Conferma Richieste">Conferma Richieste</a></li>
                <li><a href="#" class="sidebar-item" data-option="Pubblica risultati">Pubblica risultati</a></li>
            </ul>

            <div class="sidebar-settings">
                <h3>Impostazioni</h3>
                <button class="sidebar-item" data-option="Cambia Password">cambio password</button>
                <button class="sidebar-item" data-option="Logout">logout</button>
            </div>
        </div>

        <div class="content-display">
            <h1 id="Section-title">Seleziona una Operazione</h1>
            <div id="section-description">
                <p>Benvenuto nella piattaforma Sad Security. Seleziona una delle operazioni disponibili dalla barra laterale sinistra per visualizzarne i dettagli e le istruzioni.</p>
                <p>Qui potrai trovare descrizioni dettagliate e informazioni relative all'operazione selezionata.</p>
            </div>
        </div>
    </main>

    <th:block layout:fragment="scripts">
        <script th:src="@{/js/professoreDashboard.js}"></script>
    </th:block>

</body>

</html>