<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Sad Security</title>
    <script th:src="@{/js/registration.js}"></script>

</head>

<body>

    <div layout:fragment="content">
        <div id="registration-error" style="color: red; margin-top: 10px;"></div>

        <h2 class="mb-4">Registrati</h2>
        <form id="registration-form" th:action="@{/account/registrati}" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required />
            </div>
            <div class="mb-3">
                <label for="mail" class="form-label">E-Mail</label>
                <input type="text" class="form-control" id="mail" name="mail" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <div th:if="${param.error}" class="alert alert-danger">
                Credenziali non valide.
            </div>
            <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>
</body>